<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生登録</title>
</head>
<body>
<h2>受講生登録</h2>
<!--Changed action and objects to reflect Controller-->
<form th:action="@{/updateStudent}" th:object="${updateStudentDetail}" method="post">
<!-- ID hidden  -->
  <div>
    <input type="hidden" id="id" th:field="*{student.id}">
  </div>
  <!--Name-->
  <div>
    <label for="name">名前：</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
    <span th:errors="*{student.name}" style="color: red;"></span>
  </div>
  <!--Kana Name-->
  <div>
    <label for="kanaName">カナ名：</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}"/>
  </div>
  <!--Nickname-->
  <div>
    <label for="nickname">ニックネーム：</label>
    <input type="text" id="nickname" th:field="*{student.nickname}"/>
  </div>
  <!--Email-->
  <div>
    <label for="emailAddress">メールアドレス：</label>
    <input type="email" id="emailAddress" th:field="*{student.emailAddress}"/>
  </div>
  <!--Residence-->
  <div>
    <label for="residence">居住地：</label>
    <input type="text" id="residence" th:field="*{student.residence}"/>
  </div>
  <!--Age-->
  <div>
    <label for="age">年齢 (Age)：</label>
    <input type="number" id="age" th:field="*{student.age}" />
  </div>
  <!-- Radio buttons! -->
  <div class="gender-group">
    <label>性別：</label>

    <input type="radio" id="gender-male" name="gender" value="男性" th:field="*{student.gender}">
    <label for="gender-male">男性</label>

    <input type="radio" id="gender-female" name="gender" value="女性" th:field="*{student.gender}">
    <label for="gender-female">女性</label>

    <input type="radio" id="gender-other" name="gender" value="その他" th:field="*{student.gender}">
    <label for="gender-other">その他</label>
  </div>
  <!-- Remarks -->
  <div>
    <label for="remark">備考 (Remark)：</label>
    <textarea id="remark" th:field="*{student.remark}"></textarea>
  </div>
  <!-- Course name - Selection Box! -->
  <div th:each="course, stat : *{studentCourses}">
    <label th:for="'courseName' + ${stat.index}">受講コース名：</label>
    <label>
      <select th:id="'courseName-' + ${stat.index}"
              th:field="*{studentCourses[__${stat.index}__].courseName}" required>
        <option value="">コースを選択してください</option>

        <option value="Java Course">Java Course</option>
        <option value="AWS Course">AWS Course</option>
        <option value="Python Course">Python Course</option>
        <option value="Web Design Course">Web Design Course</option>
        <option value="React Course">React Course</option>
      </select>
    </label>
  </div>
  <div>
    <label th:for="wasDeleted">情報を削除
      <input type="checkbox" id="wasDeleted" th:field="*{student.wasDeleted}" value="true" checked/>
    </label>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>